body {
  margin: 0px;
}

.container {
  display: grid;
  grid-template-columns: auto auto;
}


#red {
  background-color: #ff6963;
}

#yellow {
  background-color: #ffee6b;
}

#blue {
  background-color: #6bb3ff;
}

#green {
  background-color: #80ff86;
}


.square {
  height: 50vh;
}

@keyframes demo {
  0% {
    opacity:1;
  }
  22% {
    opacity:0.7;
  }
  50% {
    opacity:0.2;
  }
  77% {
    opacity:0.7;
  }
  100% {
    opacity:1;
  }
}

.flash {
  animation-name: demo;
  animation-duration: 400ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

/* Main Menu */
#menu {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  top: 60%;
  z-index: 1000;
}

#start-button {
  font-size: x-large;
}

#sound-volume-container {
  margin-top: 1rem;
  background-color: whitesmoke;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

#sound-volume-label {
  font-size: x-large;
}

/* Info Panel */
#info-panel-container {
  cursor: pointer;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 47%;
  text-align: center;
  position: absolute;
  z-index: 1000;
}
#info-panel {
  background-color: snow;
  border-radius: 6px;
  font-size: xx-large;
  display: inline-block;
  padding: 1rem 1rem;
  box-shadow: 2px 3px 27px 0px black
}
.hide {
  visibility: hidden;
}
